.\$btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 0 15px;
  border-radius: var(--\$border-radius-lg);
  border-width: 0.5px;
  font-size: 14px;
  font-weight: 500;

  transition-property: filter, background-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;

  &:disabled,
  &[aria-disabled='true'],
  &[data-disabled='true'] {
    cursor: not-allowed;
  }

  &:not(.\$btn-ghost, .\$btn-outline) {
    background-color: var(--\$bg-gray-950);
    background-image: linear-gradient(
      to bottom,
      var(--\$bg-gray-800),
      var(--\$bg-gray-950)
    );
    color: var(--\$fg-gray-50);
    border-color: var(--\$bg-gray-950);

    &:not(:disabled, [aria-disabled='true'], [data-disabled='true']) {
      box-shadow:
        rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset,
        var(--\$bg-gray-200) 0px 0px 0px 1px;

      &:hover {
        filter: brightness(1.2);
        color: var(--\$fg-gray-50);
      }
      &:active {
        filter: brightness(0.8);
      }
    }

    &:disabled,
    &[aria-disabled='true'],
    &[data-disabled='true'] {
      background-color: var(--\$bg-gray-700);
      background-image: none;
      color: var(--\$fg-gray-400);
    }
  }

  svg {
    width: 17px;
    height: 17px;
  }

  .\$btn-icon-left {
    margin-left: -3px;
    margin-right: 6px;
  }

  .\$btn-icon-right {
    margin-left: 6px;
    margin-right: -3px;
  }

  &.\$btn-square {
    padding: 0;
    width: 36px;
  }

  &.\$btn-sm {
    height: 28px;
    padding: 0 9px;
    border-radius: var(--\$border-radius-md);
    font-size: 12px;

    svg {
      width: 14.5px;
      height: 14.5px;
    }

    .\$btn-icon-left {
      margin-left: -2px;
      margin-right: 4px;
    }

    .\$btn-icon-right {
      margin-left: 4px;
      margin-right: -2px;
    }

    &.\$btn-square {
      padding: 0;
      width: 28px;
    }
  }

  &.\$btn-ghost {
    background-color: transparent;
    border-width: 0;
    box-shadow: none;
    color: var(--\$fg-gray-800);

    &:not(:disabled, [aria-disabled='true'], [data-disabled='true']) {
      &:hover {
        background-color: var(--\$bg-gray-50);
      }
      &:active {
        filter: brightness(0.95);
      }
    }

    &:disabled,
    &[aria-disabled='true'],
    &[data-disabled='true'] {
      color: var(--\$fg-gray-400);
    }
  }

  &.\$btn-outline {
    background-color: transparent;
    box-shadow: none;
    color: var(--\$fg-gray-800);
    border-width: 1px;

    &:not(:disabled, [aria-disabled='true'], [data-disabled='true']) {
      &:hover {
        background-color: var(--\$bg-gray-50);
      }
      &:active {
        filter: brightness(0.95);
      }
    }

    &:disabled,
    &[aria-disabled='true'],
    &[data-disabled='true'] {
      color: var(--\$fg-gray-400);
    }
  }
}
