.\$btn {
  height: 34px;
  padding: 0 13.5px;
  border-radius: var(--\$-border-radius-lg);
  background-color: var(--\$-bg-gray-950);
  color: var(--\$-fg-gray-50);
  transition-property: background-color, color;
  box-shadow:
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset,
    var(--\$-bg-gray-200) 0px 0px 0px 1px;

  border-width: 0.5px;
  border-color: var(--\$-bg-gray-950);

  &:hover {
    background-color: var(--\$-bg-gray-900);
    color: var(--\$-fg-gray-100);
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: var(--\$-bg-gray-800);
    color: var(--\$-fg-gray-300);
  }

  &.\$btn-sm {
    height: 28px;
    padding: 0 10px;
    border-radius: var(--\$-border-radius-md);
    font-size: 12px;
  }
}
