:where([class^='$'], [class^='$'] *, [class*=' $'], [class*=' $'] *) {
  &,
  &::before,
  &::after {
    border-color: var(--\$border-gray-200);
  }

  &:focus-visible {
    outline: 2px solid var(--\$fg-gray-500);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
