:where([class^='$'], [class^='$'] *, [class*=' $'], [class*=' $'] *) {
  &,
  &::before,
  &::after {
    --\$color-zinc-0: #ffffff;
    --\$color-zinc-50: #fafafa;
    --\$color-zinc-100: #f4f4f5;
    --\$color-zinc-200: #e4e4e7;
    --\$color-zinc-300: #d4d4d8;
    --\$color-zinc-400: #a1a1aa;
    --\$color-zinc-500: #71717a;
    --\$color-zinc-600: #52525b;
    --\$color-zinc-700: #3f3f46;
    --\$color-zinc-800: #27272a;
    --\$color-zinc-900: #18181b;
    --\$color-zinc-950: #09090b;

    --\$fg-gray-0: var(--\$color-zinc-0);
    --\$fg-gray-50: var(--\$color-zinc-50);
    --\$fg-gray-100: var(--\$color-zinc-100);
    --\$fg-gray-200: var(--\$color-zinc-200);
    --\$fg-gray-300: var(--\$color-zinc-300);
    --\$fg-gray-400: var(--\$color-zinc-400);
    --\$fg-gray-500: var(--\$color-zinc-500);
    --\$fg-gray-600: var(--\$color-zinc-600);
    --\$fg-gray-700: var(--\$color-zinc-700);
    --\$fg-gray-800: var(--\$color-zinc-800);
    --\$fg-gray-900: var(--\$color-zinc-900);
    --\$fg-gray-950: var(--\$color-zinc-950);

    --\$bg-gray-0: var(--\$color-zinc-0);
    --\$bg-gray-50: var(--\$color-zinc-50);
    --\$bg-gray-100: var(--\$color-zinc-100);
    --\$bg-gray-200: var(--\$color-zinc-200);
    --\$bg-gray-300: var(--\$color-zinc-300);
    --\$bg-gray-400: var(--\$color-zinc-400);
    --\$bg-gray-500: var(--\$color-zinc-500);
    --\$bg-gray-600: var(--\$color-zinc-600);
    --\$bg-gray-700: var(--\$color-zinc-700);
    --\$bg-gray-800: var(--\$color-zinc-800);
    --\$bg-gray-900: var(--\$color-zinc-900);
    --\$bg-gray-950: var(--\$color-zinc-950);

    --\$border-gray-200: var(--\$color-zinc-200);

    --\$border-radius-sm: 4px;
    --\$border-radius-md: 6px;
    --\$border-radius-lg: 8px;
    --\$border-radius-full: 9999px;

    --\$box-shadow-md: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
}

@keyframes \$slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes \$slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes \$slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes \$slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
